<h2>Add New Recipe</h2>
<form action="/views/act_add_new_recipe_success" method="get" class="form-example">
  <div class="form-example">
    <label for="name">Recipe name: </label>
    <input type="text" name="name" id="name" required>
  </div>
  <div class="form-example">
    <label for="description">Description: </label>
    <input type="description" name="description" id="description" required>
  </div>
  <div class="form-example">
    <label for="prep_time">Preparation time: </label>
    <input type="prep_time" name="prep_time" id="prep_time" required>
  </div>
  <div class="form-example">
    <input type="submit" value="Submit!">
  </div>
</form>
