<p class="list-items"> Recipe: <%= params["name"]%><br></p>
<p class="list-items">Description: <%= params["description"]%><br></p>

<p class="list-items">was added to the database</p>
<br><br>
<a class="btn btn-primary" href="/">Back to Home Page
</a>
